<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFqQGHBYcRZbsvmTlDnOAhv2ytu80npxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>750744658447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackHealth</string>
	<key>PROJECT_ID</key>
	<string>healthtracker-a3552</string>
	<key>STORAGE_BUCKET</key>
	<string>healthtracker-a3552.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750744658447:ios:14ab8661411dc9f4f3797a</string>
</dict>
</plist>